.container_pagination__cta, .header_container__content {
  max-width: 950px;
  margin-inline: auto;
}

.header_container {
  height: 10vh;
  width: 100%;
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  background-color: #242424;
  z-index: 9999;
}
.header_container__content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -ms-justify-content: space-between;
  -ms-align-items: center;
  position: relative;
}
.header_container__content___search {
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-align-items: center;
  flex-direction: column;
  width: 60%;
  position: absolute;
  left: 0;
  top: 0;
}
.header_container__content___search input {
  width: 100%;
}
.header_container__content___search____suggest {
  height: 100%;
  width: 100%;
  max-height: 60vh;
  border-radius: 0 0 1rem 1rem;
  overflow-y: auto;
  background-color: #242424;
  color: #ffffff;
  padding-inline: 1rem;
}
.header_container__content___search____suggest p {
  cursor: pointer;
}
.header_container__content button {
  padding: 0.5rem;
  margin: 0 0 0 auto;
  background-color: #7b602f;
  width: -moz-fit-content;
  width: fit-content;
}

.container {
  height: auto;
  width: 90%;
  padding: 2rem 0;
  margin: 5vh auto;
  min-height: 70vh;
  overflow-y: auto;
  position: relative;
}
.container__text {
  font-size: 1.5rem;
  line-height: 3rem;
}
.container_movies {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  row-gap: 2rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.container_movies a {
  height: 100%;
  width: 100%;
}
.container_pagination {
  position: fixed;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  left: 0;
  background-color: #191c1d;
}
.container_pagination__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -ms-justify-content: space-between;
  -ms-align-items: center;
}
.container_pagination__cta span {
  font-weight: bolder;
}
.container_pagination__cta button {
  background-color: #7b602f;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
}

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-align-items: center;
  height: auto;
  width: 100%;
  flex-direction: column;
  min-height: 20rem;
  width: 100%;
  background: #eee;
  text-align: center;
  position: relative;
  box-shadow: 2px 2px 2px 3px #eee;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .Card {
    width: 200px;
  }
}
.Card__poster {
  height: auto;
  width: 100%;
  min-height: 90%;
}
.Card__poster___image {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
.Card__rating {
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  border: 2px solid #242424;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 1%;
  left: 5%;
}
.Card__details {
  height: auto;
  width: 100%;
  background-color: #252729;
  color: #ffffff;
  font-weight: bold;
  min-height: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.Card:hover {
  transform: translate(1%, -1%);
}/*# sourceMappingURL=styles.module.css.map */