@import "../../../styles/partials/mixin";
@import "../../../styles/partials/mediaQueries";
@import "../../../styles/partials/colors";

%container {
    max-width: 950px;
    margin-inline: auto;
}

.header_container {
    @include heightWidth($height: 10vh);
    position: fixed;
    padding: 1rem;
    top: 0;
    left: 0;
    background-color: $primaryBlack;
    z-index: 9999;

    &__content {
        @extend %container;
        @include heightWidth();
        @include displayFlex($jc: space-between);
        position: relative;

        &___search {
            @include displayFlex();
            flex-direction: column;
            width: 60%;
            position: relative;

            input {
                width: 100%;
                border-radius: .5rem;
            }

            &____suggest {
                @include heightWidth();
                max-height: 60vh;
                border-radius: 0 0 1rem 1rem;
                overflow-y: auto;
                background-color: $primaryBlack;
                color: $primaryWhite;
                padding-inline: 1rem;
                position: absolute;
                top: 6vh;
                left: 0;
                height: auto;

                p {
                    cursor: pointer;
                }
            }
        }

        button {
            @include paddingMargin(.5rem, 0 0 0 auto);
            background-color: $primaryOrange;
            width: fit-content;
        }
    }
}


.container {
    @include heightWidth(auto, 90%);
    @include paddingMargin(2rem 0, 5vh auto);
    min-height: 70vh;
    overflow-y: auto;
    position: relative;

    &__text {
        font-size: 1.5rem;
        line-height: 3rem
    }

    &_movies {
        @include heightWidth(auto, auto);
        @include paddingMargin(0, 0);
        @include centeredGrid();
        @include displayGrid(auto, repeat(auto-fit, minmax(200px, 1fr)));
        row-gap: 2rem;
        column-gap: .5rem;

        @include responsive(medium-screens) {
            @include displayGrid(auto, repeat(auto-fit, minmax(1fr, 1fr)));
        }

        a {
            @include heightWidth();
        }
    }

    &_pagination {
        position: fixed;
        width: 100%;
        padding: 1rem;
        bottom: 0;
        left: 0;
        background-color: $secondaryBlur;

        &__cta {
            @include displayFlex($jc: space-between);
            @extend %container;

            span {
                color: $primaryWhite;
                font-weight: bolder;
            }

            button {
                background-color: $primaryOrange;
                border: none;
                padding: .5rem 1.5rem;
                font-size: 1.1rem;
            }
        }

    }

}

.Card {
    @include displayFlex();
    @include heightWidth($height: auto);
    flex-direction: column;
    min-height: 20rem;
    width: 100%;
    background: $primaryGrey;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 2px 3px $primaryGrey;
    cursor: pointer;
    border-radius: .5rem;
    transition: transform .3s ease-in-out;

    @include responsive(desktop-screens) {
        width: 200px;
    }

    &__poster {
        @include heightWidth(auto, 100%);
        min-height: 90%;

        &___image {
            @include heightWidth();
            border-radius: .5rem;
        }
    }

    &__rating {
        @include heightWidth(2rem, 2rem);
        @include centeredGrid();
        border: 2px solid $primaryBlack;
        background: $primaryWhite;
        border-radius: 50%;
        position: absolute;
        top: 1%;
        left: 5%;
    }

    &__details {
        @include heightWidth(auto, 100%);
        background-color: $primaryBlur;
        color: $primaryWhite;
        font-weight: bold;
        min-height: 10%;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &:hover {
        transform: translate(1%, -1%);
    }
}